[submodule "component/src/thirdparty/freertos-kernel"]
	path = component/thirdparty/freertos-kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "thirdparty/lwip"]
	path = component/thirdparty/lwip
	url = git://git.git.savannah.gnu.org/lwip.git
